<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nimbad Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div id="help-prompt">
    👋 May I assist you ?
    <button id="open-chat">Yes</button>
    <button id="close-chat">No</button>
</div>
<button id="chat-toggle">🤖</button>   

<div id="chat-container">
    <div id="chat-header">🤖 Nimbad Assistant
        <span id="new-tab-btn">+</span>
        <span id="close-chat-btn">×</span>
    </div>
<div id="chatbox">
    <div class="bot-message"> 👋 Hi there! I'm Nimbad assistant.How can I help you today?</div>
</div>
<div id="loader" style="display:none;">
    <div class="typing">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="suggestions"></div>
<div id="chat-input">
    <input type="text" id="userInput" placeholder="Ask me something..." />
     <button id="sendBtn">➤</button>
</div>
</div>
<script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>

</body>
</html>
